.des {
  color: white;
  font-size: 16px;
}
#price  {
  color: white;
} 
#pr {
  color: white;
}
#imgs {
  width: 80%;
  border-radius: 10px;
  padding-bottom: 5%;
  padding-top: 10%;
  padding-left: 5%;

}
/* .all-items {
  display: flex;
  margin-top: 14%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 8px;
  background-color: rgba(51, 48, 48, 0.4);
} */
.prices {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 2%;
}
.food-name {
  font-size: 25px;
}
.food-item {
  display: flex;
  
}

